.nav-item a {
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.96rem; }

.nav-item > a:hover {
  color: #66BB6A !important; }

#main h1 {
  font-size: 2.8rem;
  color: #000;
  line-height: 63px;
  margin-bottom: 1.8rem; }
#main p {
  color: #454747;
  font-size: 1.1rem;
  line-height: 34px;
  font-weight: 600; }
#main a {
  box-shadow: 0px 2px 7px #918c8c;
  font-weight: 300; }
#main img {
  margin-top: -121px; }

#features {
  margin-bottom: 6rem; }
  #features h2 {
    font-size: 2.2rem; }
  #features h3 {
    font-size: 1.17rem;
    line-height: 26px; }
  #features .card {
    border-radius: 0.32rem;
    border: none;
    filter: drop-shadow(0 0 3px #d8d4d4); }
  #features .desc {
    color: #535757;
    font-size: 1.13rem;
    line-height: 34px;
    font-weight: 400; }
  #features .card p {
    font-weight: 400; }
  #features .card-body {
    padding-top: 3.5rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem; }

#convenience h3 {
  font-size: 2.3rem;
  line-height: 2.5rem; }
#convenience h5 {
  font-size: 0.90rem;
  letter-spacing: 3px; }
#convenience .btn {
  font-size: 1.15rem; }
#convenience .desc2 {
  color: #535757;
  font-size: 1.15rem;
  line-height: 34px;
  font-weight: 400;
  width: 63%; }
#convenience .card-1 {
  background: url(../img/card-1-image-2.jpg);
  background-size: 900px 500px;
  background-position: 5% 80%;
  border: none; }
#convenience .card-2 {
  background: url(../img/card-2-image-3.jpg);
  background-size: 900px 580px;
  background-position: 30% 100%;
  border: none; }
#convenience .card-title {
  font-weight: 300; }

.page-t:after {
  content: "";
  display: block;
  width: 11.8%;
  padding-top: 20px;
  border-bottom: 4px solid #faf6f6; }

body {
  overflow-x: hidden; }

@media (max-width: 991px) {
  .card {
    margin-bottom: 2rem; }

  #main {
    margin-bottom: 5.5rem; }

  #features {
    margin-bottom: 0rem !important;
    padding-bottom: 2rem !important; }

  #features .desc, #convenience .main-title {
    width: 95% !important;
    text-align: center; }

  #convenience {
    padding-top: 1rem !important; }

  #convenience .desc2 {
    width: 100%;
    text-align: center;
    margin-bottom: 0px; }

  #main h1 {
    font-size: 2.3rem;
    line-height: 50px; }

  br {
    display: none; }

  #main a {
    display: block; }

  .card-body img {
    margin-left: auto;
    margin-right: auto; }

  #features h2 {
    font-size: 2rem; }

  .nav-link {
    text-align: center; }

  #convenience .card-text {
    width: 100% !important; } }
