$primary: #66BB6A;

.nav-item a{
    font-weight:600;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.96rem;
 
}
.nav-item>a:hover{
    color: #66BB6A!important;
}
#custom-style-button{
        padding-left:2.8rem!important;
        padding-right:2.8rem!important;
        padding-bottom:0.6rem!important;
        border-radius: 6px!important;
}
.testimonial-card{
        border-radius: 0.32rem;
        border:none;
        filter: drop-shadow(3px 3px 4px #d8d4d4);
        h4{
            font-size:1.1rem;
            line-height: 25px;
        }
        .card-text{
            line-height: 32px;
            font-size:1.05rem;
            font-weight:400;
            margin-bottom:2rem;
        }
        
}
.circle-icon {
    background: #ffc0c0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
    padding: 30px;
}

.arrow-1 i{
    -webkit-text-stroke:1px #66BB6A;
}
.arrow-2 i{
    -webkit-text-stroke:1px #ffffff;
}

.controls-top{
    margin-bottom:10rem;
    margin-left:8.8rem;
}
// p{
//     font-family: 'Open Sans', sans-serif;
// }

#main{
    h1{
        font-size: 2.85rem;
        color: #000;
        line-height: 63px;
        margin-bottom:1.8rem;
        
    }
    p{
        color: #454747;
        font-size:1.08rem;
        line-height: 34px;
        font-weight:400;
        font-family:'Open Sans', sans-serif;


    }
    a{
        box-shadow: 0px 2px 7px #918c8c;
        font-weight:300;
    }
    img{
        margin-top:-191px;
        
       
    }
}
#features{
    background-image: url(../img/side-img.svg);
    background-repeat: no-repeat;
    background-size: 11%;
    background-attachment: scroll;
    h2{
        font-size: 2.2rem;
        font-family:'Open Sans', sans-serif;
        font-weight: 600;
    }
    h3{
        font-size: 1.17rem;
        line-height: 26px;
        
    }
    .card{
        border-radius: 0.32rem;
        border:none;
        filter: drop-shadow(0 0 3px #d8d4d4);

    }
    .desc{
        color: #535757;
        font-size:1.13rem;
        line-height: 34px;
        font-weight:400;


    }
    .card p{
        font-weight:400;
        // width:94%;
    }
    .card-body{
        padding-top:3.5rem;
        padding-left:0.8rem;
        padding-right:0.8rem;
    }   
    margin-bottom:6rem;
}

#convenience{
    .main-title{
        font-size: 2.16rem;
        line-height: 2.5rem;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        
    }
    h5{
        font-size: 0.90rem;
        letter-spacing: 3px;
    }
    .btn{
        font-size: 1.15rem;
        
    }
    .desc2{
        color: #535757;
        font-size:1.15rem;
        line-height: 34px;
        font-weight:400;
        width:63%;
    }
    .card-1{
        background: url(../img/card-1-image-2.jpg);
        background-size: 900px 500px;
        background-position: 5% 80%;
        border: none;
        
       
    }
    .card-2{
        background: url(../img/card-2-image-3.jpg);
        background-size: 900px 580px;
        background-position: 30% 100%;
        border: none;
        
    }
    .card-title{
        font-weight:300;
        font-size: 2rem;

    }
    .card{
        border-radius: 6px;
    }
   margin-bottom: 4.35rem;;
}

#path
{
    margin-bottom: 15.5rem;
    .container{
        background: url(../img/path.svg);
        background-size: cover;
        
        }
        .first h2 p , .second h2,p{
            font-family: 'Open Sans', sans-serif;
        }
        h2{
            margin-top:7.2rem;   
            font-size: 2.2rem;  
            font-weight: 400;      
        }
        .para-1{
            line-height: 30px;
            font-size:1.1rem;
           
        }
        .sec h3{
            font-size: 1.55rem;
            font-weight: 400;
            line-height: 34px;
        }
        .sec p{
            font-size: 0.97rem;
            font-weight: 100;
            line-height: 25px;
        }
        .first{
            margin-bottom: 9rem;
        }
        .sec{
            padding-bottom:8rem;
        }
} 
    
    

    


#investors{
    h2{
        font-size: 2.2rem;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        padding-top:14px;
        line-height: 47px;
        margin-left:4.3rem;
        margin-bottom:8rem;
    }
    .quotation{
        background: url(../img/quote.svg);
        background-repeat: no-repeat;
        background-size: 13%;
        background-position: 8.3% 0.1%;
    }
    
}

.carousel-inner
{
    h4{
        vertical-align: top;
    }
    .card-body{
        padding-top:2.5rem;
        padding-left:3rem;
    }
} 

#future{
    .card-title{
        font-size: 2.2rem;
        margin-top:3.7rem;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        
    }
    .card{
        filter: drop-shadow(1px 1px 4px #eeebeb);

    }
    .btn{
        padding-left:5.45rem;
        padding-right:5.45rem;
        filter: drop-shadow(5px 5px 4px #d8d4d4);
        font-weight:300;
    }
    
    
}
#foot-links{
    li{
        margin-bottom:1rem;
        font-size: 1rem;
    }
    h6{
        padding-left:2.5rem;
        margin-bottom:1rem;
        font-size: 1.05rem;
    }
    .custom-m{
        margin-right:5.2rem;
    }
    .card-text{
        line-height: 7px;
        
    }
    .second{
        font-size: 1.1rem;
    }
    .card{
        border-radius: 6px;
        font-weight: 300;
        min-width:100%!important;
    }
    .card-title{
        font-weight: 300;
    }
    padding-top: 9rem;
    background: #f5f5f5;
    background-size: 100% 100%;
.container{
    padding-bottom: 3rem;
}
}

.page-t:after{
    content: "";  
    display: block; 
    
    width: 11.8%; 
    padding-top: 20px;
    border-bottom: 4px solid rgb(250, 246, 246); 
    
}
#main-footer{
    background: #f5f5f5;
    p{
        font-size: 0.91rem;
    }
}
// .overlay{
//         background: rgba(141, 138, 138, 0.288);
//         position: absolute;
//         top: 0;
//         left: 0;
//         width: 100%;
//         height: 100%;
        
// }





// * {
//     background: #000 !important;
//     color: #0f0 !important;
//     outline: solid #f00 1px !important;
//   } 

  body{ 
      overflow-x: hidden;
}
@media (max-width:991px){
    .card{
        margin-bottom:2rem;
    }
    #main{
        margin-bottom:5.5rem;
    }
    #features{
        margin-bottom:0rem!important;
        padding-bottom:2rem!important;
            
        
    }

    #features .desc , #convenience .main-title {
        width: 95%!important;
        text-align: center;
    }
    #convenience{
        padding-top:1rem!important;
        
    }
    #convenience .desc2{
        width:100%;
        text-align: center;
        margin-bottom: 0px;
    }
    #main h1{
        font-size: 2.5rem;
        line-height: 54px;
    }
    br{
        display: none;
    }
    #main a{
        display: block;
    }
    .card-body img{
        margin-left: auto;
        margin-right: auto;
    }
    #features h2 {
        font-size: 2rem;
    }
    .nav-link{
    
        text-align: center;
    }
    #convenience .card-text{
        width: 100%!important;
    }

    #path{
    margin-bottom: 10.5rem;
    .container{
        background: url(../img/path.svg);
        background-size: cover;
        
        }
        .first h2 p , .second h2,p{
            font-family: 'Open Sans', sans-serif;
        }
        h2{
            margin-top:5.2rem;   
            font-size: 1.7rem;  
            font-weight: 400;   
            margin-bottom: 2rem;   
        }
        .para-1{
            line-height: 30px;
            font-size:1.1rem;
            
           
        }
        .sec h3{
            font-size: 1.55rem;
            font-weight: 400;
            line-height: 34px;
            margin-bottom: 2rem; 
        }
        .sec p{
            font-size: 1rem;
            font-weight: 100;
            line-height: 25px;
        }
        .first{
            margin-bottom: 3rem;
            text-align: center;
        }
        .sec{
            padding-bottom:5rem;
            text-align: center;
        }
    
    }
    #foot-links .card{
            width:100%;
        }
    
//    *{
//        margin-left: auto;
//        margin-right: auto;
//    }
    
}
@media (max-width:576px)
{
    #main-footer{
        .col{
            width:100%;
            justify-content: center;
        }
    }
    #features{
        background-image: url(../img/side-img.svg);
        background-repeat: no-repeat;
        background-size: 21%;
        background-attachment: scroll;
    }
   
    #convenience {
        margin-bottom: 0rem;
        padding-bottom: 0rem;
        .desc2{
            font-size: 1.09rem;
            text-align: center;
        }
    }
    #path{
    margin-bottom: 6.5rem;
}
    #investors {
        h2{
            margin-bottom: 3.2rem;
            font-size: 1.92rem;
            margin-left:auto;
            margin-right:auto;
            text-align: center;
        }
        .quotation{
            background: url(../img/quote.svg);
            background-repeat: no-repeat;
            background-size: 17%;
            background-position: 6.3% 13.1%;
        }

    }
     
    .carousel-inner{
        .card-body{
            padding-left: 0;
            text-align: center;
            
        }
        h4,p{
            padding-left: 0;
            line-height: 28px;
            margin-bottom: 1rem;
            
        }
        
    } 
    #future{
        .card-title {
            font-size: 1.7rem;
            line-height: 34px;
        }
        .btn{
            font-size:1rem;
        }
        .row{
            margin-bottom: 3rem;
        }
        
    }
     
    .card{
        
        margin-left:auto;
        margin-right:auto;
    }
    
    span{
        display: block;
        
    }
    #arrow-guide{
        margin-left:auto;
        margin-right:auto;
        margin-bottom: 6rem;
    }
    .controls-top {
        margin-left: 0;
        margin-bottom: 6rem;
    }
    #foot-links{
        .col{
        
        }
        li{
            margin-bottom: 0.4rem;
        }
        .custom-m{
            margin-right:0;
        }
        padding-top: 4.5rem;
        .col-12{
            margin-top:2rem;
            margin-left:1rem;
            margin-bottom: 2rem;
        }
        .card-body{
            text-align: center;
            .btn{
                margin-bottom: 2rem;
            }
            p{
                margin-bottom: 1.3rem;
            }
            h5{
                margin-bottom: 1.6rem;
            }
            
        }
    }
    


}
@media (min-width: 768px){
    #foot-links{
        #first{
            margin-right: 6rem;
        }
    }
}

