.nav-item a{
    font-weight:600;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.96rem;
 
}
.nav-item>a:hover{
    color: #66BB6A!important;
}

#main{
    h1{
        font-size: 2.8rem;
        color: #000;
        line-height: 63px;
        margin-bottom:1.8rem;
    }
    p{
        color: #454747;
        font-size:1.1rem;
        line-height: 34px;
        font-weight:600;

    }
    a{
        box-shadow: 0px 2px 7px #918c8c;
        font-weight:300;
        // filter: drop-shadow(0 0 1px #161414);
    }
    img{
        margin-top:-121px;
       
    }
}
#features{
    h2{
        font-size: 2.2rem;
    }
    h3{
        font-size: 1.17rem;
        line-height: 26px;
    }
    .card{
        border-radius: 0.32rem;
        border:none;
       // box-shadow: 0px 2px 4px #918c8c;
                 filter: drop-shadow(0 0 3px #d8d4d4);

    }
    .desc{
        color: #535757;
        font-size:1.13rem;
        line-height: 34px;
        font-weight:400;


    }
    .card p{
        font-weight:400;
        width:94%;
    }
    .card-body{
        padding-top:3.5rem;
        padding-left:0.8rem;
        padding-right:0.8rem;
    }
    .card{
        width: 94%;
    }
}
